.user-profile {
  display: flex;
  flex-direction: row;

  &__user {
    display: none;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px 8px;
    background: #bbada0;
    border-radius: 0 0 5px 5px;

    &-info {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
    }

    &.active {
      display: flex;
    }
  }

  &__exit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-left: 16px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    filter: invert(90%) sepia(2%) saturate(2712%) hue-rotate(322deg) brightness(110%) contrast(87%);

    &:hover {
      filter: invert(19%) sepia(89%) saturate(3290%) hue-rotate(337deg) brightness(85%) contrast(103%);
    }
  }

  &__id {
    font-family: "Perfect DOS VGA 437", sans-serif;
    font-size: 10pt;
    color: #eee4da;
    text-transform: uppercase;
  }

  &__username {
    font-family: "Perfect DOS VGA 437", sans-serif;
    font-size: 32pt;
    color: #fff;
  }

  &__auth-buttons {
    display: none;
    flex-direction: row;
    gap: 8px;

    &.active {
      display: flex;
    }
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 100%;

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      margin-left: 7px;
      text-transform: uppercase;
      font-family: "Perfect DOS VGA 437", sans-serif;
      font-size: 32pt;
      color: #fff;
    }
  }
}
