@keyframes move-left-crone {
  0% {
    background-position: -331px 0;
  }

  25% {
    background-position: -412px 0;
  }

  50% {
    background-position: -497px 0;
  }

  75% {
    background-position: -572px 0;
  }
}

@keyframes move-right-crone {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: -87px 0;
  }

  50% {
    background-position: -170px 0;
  }

  75% {
    background-position: -258px 0;
  }
}

@keyframes attack-right-crone {
  0% {
    background-position: -653px 0;
  }

  25% {
    background-position: -728px 0;
  }

  50% {
    background-position: -799px 0;
  }
}

@keyframes attack-left-crone {
  0% {
    background-position: -865px 0;
  }

  25% {
    background-position: -934px 0;
  }

  50% {
    background-position: -999px 0;
  }
}
