@import "./playerAnimation";

.player {
  position: absolute;
  background-image: url("../assets/sprites/dave_sprites.png");
  background-size: 5257px;
  top: 0;
  left: 0;
  z-index: 100;
}

.death-layer {
  position: absolute;
  top: -20px;
  left: -40px;
  width: 144px;
  height: 144px;
  z-index: 101;
  background-color: crimson;
  display: none;
}
