body {
  overflow: hidden;
  height: 100vw;
  background-color: #ccc;
}

#container {
  display: flex;
  justify-content: center;
}

.view-area {
  position: relative;
  background-color: white;
  opacity: 1;
  overflow: hidden;
  margin: 100px auto;
}

.player-area {
  position: absolute;
}

.level-area {
  position: absolute;
}

.level1 {
  background: url("./../assets/levels/LEVEL01_high_res.png") no-repeat no-repeat;
}

.wall {
  position: absolute;
}
