@import "https://fonts.cdnfonts.com/css/perfect-dos-vga-437";
@import "playerAnimation";
@import "deathAnimation";
@import "zombieAnimation";
@import "croneAnimation";
@import "components/header";
@import "components/userProfile";
@import "components/userAuthForm";
@import "components/leaderboard";
@import "components/bestResultCard";
@import "components/bestResults";
@import "components/scoreCard";
@import "components/ui/inputs";
@import "components/ui/buttons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf8ef;
}

.app {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-block: 22px;
    position: relative;
  }
}
