@keyframes move-left {
  0% {
    background-position: 0 -864px;
  }
  25% {
    background-position: 0 -960px;
  }

  50% {
    background-position: 0 -1056px;
  }

  75% {
    background-position: 0 -1152px;
  }
}

@keyframes move-right {
  0% {
    background-position: 0 -96px;
  }

  25% {
    background-position: 0 -192px;
  }

  50% {
    background-position: 0 -288px;
  }

  75% {
    background-position: 0 -384px;
  }
}

@keyframes jump-left {

  0% {
    background-position: 0 -1248px;
  }

  50% {
    background-position: 0 -1344px;
  }

}

@keyframes jump-right {
  0% {
    background-position: 0 -480px;
  }

  50% {
    background-position: 0 -576px;
  }
}

@keyframes fall-left {
  0% {
    background-position: 0 -1344px;
  }

  50% {
    background-position: 0 -1440px;
  }
}

@keyframes fall-right {
  0% {
    background-position: 0 -576px;
  }

  50% {
    background-position: 0 -672px;
  }
}

@keyframes reload {
  0% {
    background-position: 0 -2784px;
  }

  50% {
    background-position: 0 -2688px;
  }
}

@keyframes shoot-right {
  0% {
    background-position: 0 -1920px;
  }

  25% {
    background-position: 0 -2016px;
  }
}

@keyframes shoot-top-right {
  0% {
    background-position: 0 -1536px;
  }

  25% {
    background-position: 0 -1632px;
  }
}

@keyframes shoot-down-right {
  0% {
    background-position: 0 -1728px;
  }

  25% {
    background-position: 0 -1824px;
  }
}

@keyframes shoot-left {
  0% {
    background-position: 0 -2496px;
  }

  25% {
    background-position: 0 -2592px;
  }
}

@keyframes shoot-top-left {
  0% {
    background-position: 0 -2212px;
  }

  25% {
    background-position: 0 -2208px;
  }
}

@keyframes shoot-down-left {
  0% {
    background-position: 0 -2304px;
  }

  25% {
    background-position: 0 -2400px;
  }
}

@keyframes exit {
  0% {
    background-position: -3323px 0;
    width: 78px;
  }

  25% {
    background-position: -3400px 0;
    width: 78px;
  }

  50% {
    background-position: -3470px 0;
    width: 78px;
  }

  75% {
    background-position: -3545px 0;
    width: 63px;
  }
}
