.zombie {
  position: absolute;
  top: 0;
  left: 0;
  background-color: burlywood;
}

.zombie.attacked {
  background-color: crimson;
}

.zombie_bullet {
  position: absolute;
  top: 0;
  left: 0;
  background-color:blueviolet;
}
